
[Unit]
Description=Buck Off Service

[Service]
Type=idle
ExecStart=/usr/bin/sh /home/pi/Buck-Off/Buck-Off/exe.sh
Restart=on-failure

[Install]
WantedBy=default.target
